<div class ="slides">
    <div class="slide"
        [ngStyle]="{'background-image': 'url(' + slides[currentSlide].url +')',opacity: hidden ? 0 : 1}">

        <div id="indicators">
            @for (slide of slides; track $index) {
                <div
                    (click)="jumpToSlide($index)" 
                    class="indicator"
                    [ngClass]="{
                        active: $index ==currentSlide
                    }">
                </div>
            }
            
        </div>

        <!-- <button (click)="next()" class="nextButton">
            <fa-icon [icon]="faArrowRight"></fa-icon>
        </button>
    
        <button (click)="previous()" class="previousButton" >
            <fa-icon [icon]="faArrowLeft"></fa-icon>
        </button> -->
        @if (control) {
            <div class="btn-carousel btn-prev" (click)="previous()">
                <i class="fas fa-arrow-circle-left icon-carousel icon-prev"></i> 
            </div>
            <div class="btn-carousel btn-next" (click)="next()">
                <i class="fas fa-arrow-circle-right icon-carousel icon-next"></i> 
            </div>
        }
        
        

    </div>
    


    
</div>
