<app-header [formules]="formules" (filteredFormules)="onFilteredFormules($event)"></app-header>
<div class="formules">
    @if(filteredFormules.length > 0){
        <div class="mx-auto" *ngIf="filteredFormules && filteredFormules.length > 0">
            <h2 class="text-center"> Formules du Tennis club</h2>
            <ul class="text-center">
                @for (formule of filteredFormules; track formule.nomFormule) {
                    <div class="formule">
                        <h3>{{ formule.nomFormule }}</h3>
                        <p>{{ formule.description }}</p>
                        <p>Prix : {{ formule.prix }}€</p>
                    </div>
                }
            </ul>
        </div>
    }
    @else {
        <h2>Aucune formule trouvée, faite une nouvelle recherche...</h2>
        <div class="loading-container">
            <div class="loading-animation"></div>
        </div>
    }
</div>

<app-footer></app-footer>