<div class="header">
    <div class="navbar">
        <div class="left">
            <ul class="logo-container">
                <li>
                    <a class="navbar-brand me-2" href="https://www.fft.fr/">
                        <img
                            src="/assets/images/fft.png"
                            height="50"
                            alt="Federation Française de tennis"
                            loading="lazy"/>
                    </a>
                </li>
                <li>
                    <a class="navbar-brand me-2 custom-border" href="">
                        <img 
                            src="/assets/images/CTPT.jpeg"
                            height="50"
                            alt="Tennis clud du plessis trevise"
                            loading="lazy"/>
                    </a>
                </li>
                
            </ul>
            <ul class="nav-links">
                <li><a routerLink="/home" routerLinkActive="active">Accueil</a></li>
            </ul>
        </div>
        <div class="right">
            <ul class="nav-links">
                <li><a routerLink="/formules" routerLinkActive="active">Formules</a></li>
                <li><a href="https://ballejaune.com/club/ctpt">Réservation</a></li>
                <li><a routerLink="/login" routerLinkActive="active">Se connecter</a></li>
                <li><a routerLink="/register" routerLinkActive="active">S'inscrire</a></li>
            </ul>
        </div>
    </div>
</div>