

<app-header>

</app-header>

<div class="body">
    <div class="section1">
        <!-- Contenu de la première section -->
        <div class="half">
            <div class="club-description">
                <h1>Club du Plessis Trévise</h1>
                <p>Bienvenue au Club de Tennis du Plessis Trévise, un lieu passionnant pour les amateurs de tennis de tous niveaux. Notre club propose une atmosphère conviviale et des installations de qualité pour que vous puissiez profiter pleinement de votre passion pour le tennis.</p>
                
                <h2>Installations</h2>
                <p>Nos installations comprennent des courts de tennis bien entretenus, des vestiaires modernes et un espace détente pour les membres du club. Nous avons également des programmes d'entraînement dirigés par des professionnels pour améliorer vos compétences.</p>
            
                <h2>Adhésion</h2>
                <p>Rejoignez notre club dès aujourd'hui pour profiter des avantages exclusifs. Nous offrons différentes options d'adhésion adaptées à vos besoins, que vous soyez débutant ou joueur expérimenté. Découvrez le plaisir du tennis au Club du Plessis Trévise.</p>
              </div>
        </div>
        <div class="half">
            <app-image-slider></app-image-slider>
        </div>
        
    </div>
    
    <div class="section2">
        <h1>Les activités du moment</h1>
        
    </div>
    
    <div class="half section3">
        <!-- <p>a r-voirs</p> -->
    </div>
</div>


<app-footer></app-footer>


