<div class="footer">

    <div class="reseau">
        <h2>
            Restez connecté
        </h2>
        <p>Rejoignez-nous sur les réseaux sociaux et restez informé.</p>
    </div>

    <div>
        <ul class="social-links">
            <li>
                <a href="https://www.facebook.com/clubtennisplessistrevise" target="_blank">
                    <img src="/assets/images/facebook.png" alt="Facebook">
                </a>
            </li>
            <h2 class="footer-title"> Facebook</h2>
            <li>
                <span class="separator">|</span>
            </li>
            <li>
                <a  
                     href="https://www.instagram.com/clubtennissquashplessistrevise/"
                     target="_blank">
                    <img src="/assets/images/instagram.png" alt="Instagram">
                </a>
            </li>
            <h2 class="footer-title"> Instagram</h2>
        </ul>
    </div>
    
</div>